body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-weight: 600 ;
    font-size: 40px;
}
.color-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 15%;
    
}
.half-width img {
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 20px;
    color: white;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.resume{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 20px;
    color: white;
    font-weight: 700;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding: 5px 10px;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    box-shadow: 20px 20px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
}
#full-stack{
    border-left: 5px solid tomato;
}
#baby-stack{
    border-left: 5px solid blue;
}
footer p{
    text-align: center;
}